*{
	margin: 0;
	padding: 0;
	outline: 0;
}
.carosel-item-padding{
	padding: 100px 150px;
}
.add-section{
	background: url("../images/bg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
}
.my-style{
	height: 500px;
	border:1px solid red;
	width: 50%;
	margin: 0 auto;
	background-color: pink;
}
.class-one{
	height: 200px;
	width: 200px;
	background-color: red;
	border-radius: 50%;
	transform: scale(1);
	transition: 2s;
	margin:  auto;

}
.class-two{
	height: 200px;
	width: 200px;
	background-color: green;
	border-radius: 50%;
	transform: scale(1);
	transition: 2s;
	margin:  auto;
}
.class-three{
	height: 200px;
	width: 200px;
	background-color: blue;
	border-radius: 50%;
	transform: scale(1);
	transition: 2s;
	margin:  auto;
}
.class-four{
	height: 200px;
	width: 200px;
	background-color: black;
	border-radius: 50%;
	transform: scale(1);
	transition: 2s;
	margin:  auto;
}

.class-one:hover{
	transform: scale(1.5);

}
.class-two:hover{
	transform: scale(1.5);
}
.class-three:hover{
	transform: scale(1.5);
}
.warninglabel{
	color: red;
}
.mybtn-content{
	text-align: center;
}
.main-image{
	height: 500px;
	width: 500px;

}
.sub-image{
	height: 10px;
	width: 10px;
}
span{
	color:red;
}
