*{
	margin: 0;
	padding: 0;
	outline: 0;
}
.carosel-item-padding{
	padding: 100px 150px;
}
.add-section{
	background: url("../images/bg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
}